{% extends 'biolib/base.html' %}

{% block content %}
<style>
  /* Notre style de bouton retour cohérent avec le reste de l'app */
  .btn-back-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background: #fff;
    border: 1px solid rgba(0, 123, 255, 0.1);
    border-radius: 15px;
    color: #007bff;
    transition: all 0.2s;
    text-decoration: none;
    margin-bottom: 20px;
  }
  .btn-back-circle:hover { 
    background: #007bff; 
    color: #fff;
    transform: translateX(-3px);
  }
</style>

<div class="container py-4">
    <a href="{% url 'plasmid_collection_detail' plasmid.collection.id %}" class="btn-back-circle shadow-sm">
        <i class="bi bi-arrow-left fs-5"></i>
    </a>

    <h2>Visualisation : {{ plasmid.name }}</h2>

    <div id="seqviz-root" style="height: 600px; width: 100%; border: 1px solid #ccc; margin-top: 20px;"></div>
    
    <div style="margin-top: 10px;">
        <a href="{{ plasmid.genbank_file.url }}" class="btn btn-primary" download>Télécharger le fichier .gb</a>
    </div>
</div>

<script src="https://unpkg.com/seqviz"></script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        
        // On récupère les données envoyées par Django via le tag 'escapejs'
        const plasmidName = "{{ plasmid.identifier|escapejs }}";
        const fileContent = "{{ genbank_content|escapejs }}";

        const viewerOptions = {
            name: plasmidName,
            file: fileContent, 
            style: { height: "100%", width: "100%" },
            viewer: "both", 
            showComplement: true,
            zoom: { linear: 50 }
        };

        const element = document.getElementById("root");
        
        window.seqviz
            .Viewer("seqviz-root", viewerOptions) 
            .render();
    });
</script>
{% endblock %}